@import url("./reset.css");
@import url("./icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
:root {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  background-color: lightgray;
  header {
    background-color: greenyellow;
    nav {
      ul {
        li {
          a {
            text-decoration: none;
          }
        }
      }
      #notification {
        width: 2rem;
        height: 2rem;
        background-color: blue;
      }
      #profile {
        width: 2rem;
        height: 2rem;
        background-color: red;
      }
    }
  }
  main {
    #game_highlight {
    }
    #game_list {
      section {
        &:nth-child(1) {
          h2 {
          }
          p {
          }
          select {
            option {
            }
          }
        }
        &:nth-child(2) {
          #filter {
            div {
              h2 {
              }
              p {
              }
            }
          }
          #content {
            .game_card {
              img {
                &::after {
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    background-color: lightblue;
    section {
      p {
      }
      ul {
        li {
        }
      }
      form {
        input[type="text"] {
        }
        input[type="submit"] {
        }
      }
    }
  }
}
