@import url("./reset.css");
@import url("./icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
:root {
  font-size: 62.5%;
  --dark: rgb(57, 54, 70);
  --seconddark: rgb(79, 69, 87);
  --mediumpurple: rgb(109, 93, 110);
  --light: rgb(244, 238, 224);
  --hover: rgb(60, 176, 103);
  --white: white;
}
* {
  box-sizing: border-box;
  margin: 0 2rem 0 2rem;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: lightgray;
  header {
    min-height: 50px;
    display: flex;
    background-color: var(--dark);
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: var(--light);
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      h1 {
        transition: color 0.2s ease 0.05s;
        font-size: 2.5rem;
        font-weight: 700;
        &:hover {
          color: var(--hover);
        }
      }
    }

    nav {
      align-items: center;
      display: flex;
      flex-direction: row;
      color: var(--light);
      padding: 1rem;
      ul {
        display: flex;
        flex-direction: row;
        li {
          a {
            transition: color 0.2s ease 0.05s;
            text-decoration: none;
            color: var(--light);
            padding: 0 1rem;
            font-size: medium;
            font-weight: 700;
            &:hover {
              color: var(--hover);
            }
          }
        }
      }
      div {
        padding: 2.5rem;
      }
      #notification {
        width: 2rem;
        height: 2rem;
        color: var(--white);
        &:hover {
          color: var(--hover);
        }
      }
      #notification::before {
        font-family: icomoon;
        content: "\e951";
        font-size: 1.5rem;
      }
      #profile {
        padding: 2px;
        /* width: 2rem;
        height: 2rem; */
        border: solid 2px var(--light);
        border-radius: 50%;
        &:hover {
          color: var(--hover);
          border-color: var(--hover);
        }
      }
      #profile::before {
        font-family: icomoon;
        content: "\e971";
        font-size: 1.9rem;
      }
    }
  }
  main {
    flex: 1;
    #game_highlight {
    }
    #game_list {
      section {
        &:nth-child(1) {
          h2 {
          }
          p {
          }
          select {
            option {
            }
          }
        }
        &:nth-child(2) {
          #filter {
            div {
              h2 {
              }
              p {
              }
            }
          }
          #content {
            .game_card {
              img {
                &::after {
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    min-height: 50px;
    background-color: var(--mediumpurple);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    section {
      padding-top: 0.5rem;
      &:first-child {
      }
      &:last-child {
        display: inline;
        text-align: center;
        padding: 0;
        font-size: 1.5rem;
        font-weight: 600;

        p {
        }
      }
      form {
        padding-top: 1rem;
        input[type="text"] {
          padding: 0.5rem;
          border-radius: 0.5rem;
          border: none;
        }
        input[type="submit"] {
          border-radius: 0.5rem;
          padding: 0.5rem;
          border: none;
          &:hover {
            color: var(--hover);
            border: 2px;
            border-color: var(--hover);
          }
        }
      }
    }
    section ul {
      justify-content: space-evenly;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 1rem;
    }
    ul li {
      &::before {
        font-family: "icomoon";
        font-size: 2rem;
        margin-right: 0.5rem;
        color: var(--white);
        transition: color 0.2s ease 0.05s;
      }
      &.facebook::before {
        content: "\ea91";
      }
      &.twitter::before {
        content: "\e901";
      }
      &.instagram::before {
        content: "\ea92";
      }
      &.youtube::before {
        content: "\ea9d";
      }
      &.tiktok::before {
        content: "\e902";
      }
      &:hover::before {
        color: var(--hover);
      }
    }
  }
}
@media (max-width: 700px) {
  nav ul li {
    display: none;
    gap: 0;
  }

  nav #menu-icon:before {
    font-family: "icomoon";
    font-size: 2rem;
    padding-right: 0;
    color: var(--white);
    transition: color 0.2s ease 0.05s;
    display: block;
    content: "\e9bd";
  }
}

@media (max-width: 550px) {
  form {
    input[type="submit"] {
      margin-top: 1rem;
    }
  }
}
